@import "tailwindcss";

@theme {
    --breakpoint-1873: 1873px;
    --breakpoint-1731: 1731px;
    --breakpoint-1440: 1440px;
    --breakpoint-1204: 1204px;
    --color-primary: #DFBB60;
    --font-Inter: "Inter", sans-serif;
}

#app {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a,
button {
    cursor: pointer;
}

* {
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif !important;
}

body {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    background: #F6F6F6;
}

label {
    cursor: pointer;
}

.transition-cubic {
    transition: all 0.4s cubic-bezier(0.65, -0.25, 0.35, 1.25);
}

.transition-cubic-hover {
    transition: all 0.4s cubic-bezier(0.65, -0.25, 0.35, 1.25);
}
.transition-cubic-hover:hover {
    @apply scale-102;
}

@keyframes fade-in {
    from { opacity: 0; transform: translateY(-8px); }
    to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
    animation: fade-in 0.4s ease-out;
}


.bg-top-text-gradient {
    background: linear-gradient(
        90deg, 
        #3EA0EB 0%, 
        #60B8FB 22%, 
        #38A3F5 47%, 
        #4CB0FC 71%, 
        #76C4FF 85%, 
        #269FFC 100%
    );
}

.drop-shadow-button {
    box-shadow:
        0px 4px 5.1px rgba(0, 0, 0, 0.35),
        inset 0px 2px 2px 0px #abc9f9;
}
